<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        /* CSS aqui */
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="login">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Seu Nome" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Seu E-mail" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="Sua Senha" required>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <input type="number" name="tipo" id="tipo" placeholder="Seu Tipo" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
    </div>
</body>
</html>
