<nav class="navbar navbar-dark" style="background-color: #ff642c">
  <a class="navbar-brand btn btn-secondary" href="/" style="color: #ffffff">
    Home
  </a>
  <div class="ml-auto">
    <a href="#" class="btn btn-secondary mr-2" onclick="history.back();">
      <i class="bi bi-box-arrow-left"></i>Voltar
    </a>
    <button
      id="logoutButton"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      style="background-color: #28a745; color: #ffffff"
    >
      Logout
    </button>
  </div>
</nav>
